<ion-content padding>
  <ion-item>
    Produtos e Serviços - Cartão de Crédito
    <a item-end (click)="goBack()" class="voltar">voltar</a>
  </ion-item>
  <ion-item>
    <h1>
      Modalidade (Distribuição do limite entre cartões)
    </h1>
  </ion-item>
  <ion-grid *ngFor="let card of cards;let i = index" [style.marginBottom.px]="30">
    <ion-row>
      <ion-col col-12 col-md-6>
        <ion-item>
          <ion-label stacked>Modalidade cartão {{i}}</ion-label>
          <ion-input type="text" disabled="true" value="{{card.nome}}" class="bandeira"
            [style.background]="'url(' + card.bandeira + ')'"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6 col-md-3>
        <ion-item>
          <ion-label stacked>Cartão de Crédito</ion-label>
          <ion-input type="text" disabled="true" placeholder="(R$) Real" [brmasker]="{money: true}" [(ngModel)]="card.limite">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6 col-md-3 class="select-options-account-type">
        <ion-item>
          <ion-label stacked>Vencimento da Fatura</ion-label>
          <ion-select interface="popover" placeholder="Selecionar">
            <ion-option *ngFor="let value of vencimentoFatura" [value]="value">{{value}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <button ion-item class="action-btn" (click)="creditCardView()">
          <ion-icon name="eye" item-start></ion-icon>
          Visualizar Modelo do Cartão
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-item class="action-btn" (click)="removeCard(i)">
          <ion-icon name="trash" item-start></ion-icon>
          Excluir Modalidade
        </button>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col col-12 col-md-10 text-center>
        <ion-item>
          <ion-range min="0" max="1500" color="danger" [(ngModel)]="card.limite">
            <ion-label range-left>0</ion-label>
            <ion-label range-right>1.500</ion-label>
          </ion-range>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<div class="footer">
  <button class="next-button" ion-button color="danger" (click)="goNext()">Avançar</button>
</div>