page-take-picture {
    #portrait{
        transform: rotate(90deg);
    }

        .button-inner{
        font-size: 40px;
        text-transform: lowercase;
        text-transform: capitalize;
    }
}
