page-pre-approved-customer {
  padding-left: 5%;
  padding-right: 5%;
  ion-content {
    h3 {
      font-size: 30px;
      color: #58595b;
      margin-top: 34px;
    }
    .list {
      margin: 245px 0px 30px 140px;
      width: 70%;

      ion-item {
        margin-bottom: 150px;
      }
    }

    button {
      width: 100px;
      margin: 0 358px 0 335px;
    }

    .values {
      h2 {
        color: #ffffff;
        font-size: 30px;
      }
    }

    .produtos {
      border: solid 1px #979797;
      border-radius: 25px;

      padding-bottom: 3%;
    }

    .headerProduct {
      padding-top: 3%;
      background-color: #979797;
      border: solid 1px #979797;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
    }

    ion-label {
      font-size: 30px;
    }

    .naoContrataButton {
      background-color: #ffffff;
      border: none;
      margin-top: -20px;

      .button-inner {
        font-size: 20px;
        color: #58595b;
      }
    }
  }
}
