page-operacao-cancelada {
  p{
        font-size: 40px;
        margin-bottom: 10%;
    }
   

    #main{
        margin-top: 30%;

        h2{
            font-size: 40px;
            margin-bottom: 40%;
            font-weight: bold;
        }
    }
}
