<ion-content padding>
  <ion-item>
    Oferta de pré-aprovados
    <a item-end (click)="goBack()" class="voltar">voltar</a>
  </ion-item>
  <ion-item>
    <h1>
      Modalidade (Selecione uma ou duas modalidades de cartão)
    </h1>
  </ion-item>
  <div class="produtos" *ngFor="let card of cards;let i = index">
    <ion-row>
      <ion-col col-3 text-center style="padding-top: 5%">
        <a href="#">Detalhes</a>
      </ion-col>
      <ion-col col-6 class="headerProduct" (click)="selectCard(card, i)">
        <ion-row>
          <ion-col col-4>
            <img class="logo-card" [src]="card.bandeira" alt="logo">
          </ion-col>
          <ion-col col-8>
            <h2>{{card.nome}}</h2>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-3 style="padding-top: 5%; max-width: 10%;" *ngIf="card.selecionado">
        <ion-icon name="checkmark"></ion-icon>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<div class="footer" *ngIf="cartoesSelecionados.length" >
  <button class="next-button" ion-button color="danger" (click)="goNext()">Avançar</button>
</div>
