<ion-header no-border>
  <ion-navbar>
    <ion-row text-left class="logo">
      <ion-col col-2 id="faixa-logo">
        <img class="logo-img" src="assets/imgs/bradesco_logo.png" alt="logo">
      </ion-col>
      <ion-col col-8>
        <h2>Proposta de abertura de conta</h2>
      </ion-col>
      <ion-col col-2 (click)="presentDialogMenuModal()">
        <img class="menu-img" src="assets/imgs/menu.png" alt="menu">
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h3>
    Oferta de pré-aprovados
  </h3>
    <h4>
      Modalidade (Selecione uma ou mais modalidades de cartão)
    </h4>
    <div class="produtos">
      <ion-row>
      <ion-col col-3 text-center style="padding-top: 5%">
          <a href="#">Detalhes</a>
        </ion-col>
        <ion-col col-6 class="headerProduct" (click)="selectCard(0)">
          <ion-row>
            <ion-col col-4>
              <img class="logo-card" src="assets/imgs/elo-logo.png" alt="logo">
            </ion-col>
            <ion-col col-8>
              <h2>Função Crédito Elo</h2>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-3 style="padding-top: 5%" *ngIf="cartao[0]">
          <ion-icon name="checkmark"></ion-icon>
        </ion-col>
      </ion-row>
    </div>

    <div class="produtos">
      <ion-row>
        <ion-col col-3 text-center style="padding-top: 5%">
          <a href="">Detalhes</a>
        </ion-col>
        <ion-col col-6 class="headerProduct" (click)="selectCard(1)">
          <ion-row>
            <ion-col col-4>
              <img class="logo-card" src="assets/imgs/elo-logo.png" alt="logo">
            </ion-col>
            <ion-col col-8>
              <h2>Internacional Elo</h2>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-3 style="padding-top: 5%" *ngIf="cartao[1]">
          <ion-icon name="checkmark"></ion-icon>
        </ion-col>
      </ion-row>
    </div>

    <div class="produtos">
      <ion-row>
        <ion-col col-3 text-center style="padding-top: 5%">
          <a href="#">Detalhes</a>
        </ion-col>
        <ion-col col-6 class="headerProduct" (click)="selectCard(2)">
          <ion-row>
            <ion-col col-4>
              <img class="logo-card" src="assets/imgs/elo-logo.png" alt="logo">
            </ion-col>
            <ion-col col-8>
              <h2>Elo Plus</h2>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-3 style="padding-top: 5%" *ngIf="cartao[2]">
          <ion-icon name="checkmark"></ion-icon>
        </ion-col>
      </ion-row>
    </div>

    <div class="produtos">
      <ion-row>
        <ion-col col-3 text-center style="padding-top: 5%">
          <a href="#">Detalhes</a>
        </ion-col>
        <ion-col col-6 class="headerProduct" (click)="selectCard(3)">
          <ion-row>
            <ion-col col-4>
              <img class="logo-card" src="assets/imgs/visa-logo.png" alt="logo">
            </ion-col>
            <ion-col col-8>
              <h2>Internacional Visa</h2>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-3 style="padding-top: 5%" *ngIf="cartao[3]">
          <ion-icon name="checkmark"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
   
    

  <div class="footer">
    <button class="next-button" ion-button color="danger" (click)="goNext()">Avançar</button>
  </div>

</ion-content>