page-home {
    .scroll {
        overflow-y: hidden!important;
    }
    .img {
        fill: #4a4a4a!important;
        color: #4a4a4a!important;
    }
    a, a:link, a:hover{
       color:#909090;
    }

    .faixa-logo {
        img {
            max-width: 25%!important;
        }
    }
   
   .content-md, .item-md, .content, .item{
       background-color: #ffffff;
       color:#909090;
   }

   .logo{
       margin-bottom:35px;
       margin-top: 15%;
   }

   .footer {
        position: relative;
   }

   h1{
       color:#58595b;
       font-size: 41px;
       font-weight: bold;
   }
   h2{
       color:#58595b;
       font-size: 41px;
   }
    h3{
       color:#58595b;
       font-size: 16px;
   }

   .item-inner{
       border-bottom: none !important;
   }

   .input-field{
       background-color: #ffffff;
      margin-bottom:10px;
       padding-left:5px;
   }

   ion-label {
        white-space: normal;
    }

    .button{
        padding: 30px 0;
        font-weight: normal;
    }

    .button-inner{
        font-size: 41px;
    }

 
    .title{
        width: 100%;
        text-align: center; 
    }

    .toolbar-title {
        color: #58595b;
    }

     ion-input{ 
            .text-input{ 
                font-size: 23px; 
            }
        }

    ion-footer{
        margin-bottom: 3%;
        
    }

}
