page-home {
    .img {
        fill: #4a4a4a!important;
        color: #4a4a4a!important;
    }
    a, a:link, a:hover{
       color:#909090;
    }
   
   .content-md, .item-md, .content, .item{
       background-color: #ffffff;
       color:#909090;
   }

   .logo{
       margin-bottom:35px;
   }


   h1{
       color:#909090;
       font-size: 21px;
       font-weight: bold;
   }
   h2{
       color:#909090;
       font-size: 21px;
   }
    h3{
       color:#909090;
       font-size: 16px;
   }

   .item-inner{
       border-bottom: none !important;
   }

   .input-field{
       background-color: #ffffff;
      margin-bottom:10px;
       padding-left:5px;
   }

   ion-label {
        white-space: normal;
    }

   

    .button-inner{
        font-size: 16px;
    }
}
