<ion-content>
  <ion-row>
    <h3>
      Cadastro/Adesão de Serviços
    </h3>
    <p class="backAnchor">
      <a href="">Voltar</a>
    </p>
  </ion-row>
  <div class="select-options-account-type">
    <ion-item>
      <ion-label>Aderir qual serviço ?</ion-label>
      <ion-select id="ionSelectSerTp" (ionChange)="selectService($event)" interface="popover" placeholder="Selecionar">
        <ion-option value="1">Centralização da Conta Salário</ion-option>
        <ion-option value="2">Centralização da Conta Benefício</ion-option>
      </ion-select>
    </ion-item>
  </div>
  <div class="account-details" *ngIf="service">
    <div *ngIf="service == 2" class="category">
      <ion-label>Qual categoria ?</ion-label>
      <ion-list radio-group>
        <ion-item>
          <ion-label>Conta do Beneficio</ion-label>
          <ion-radio item-left value="cdb" (click)="setServiceType(1)"></ion-radio>
        </ion-item>
        <ion-item style="float: right;">
          <ion-label> Numero do Beneficio</ion-label>
          <ion-radio item-left value="ndb" (click)="setServiceType(2)"></ion-radio>
        </ion-item>
      </ion-list>
    </div>
    <div class="account-fields" *ngIf="service && (serviceType==1||service==1)">
      <ion-item>
        <ion-list>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input [(ngModel)]="account.number" type="number" placeholder="Código da Agência"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-input [(ngModel)]="account.account" type="number" placeholder="Conta"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-input [(ngModel)]='account.digit' type="number" placeholder="Digito"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-list>
      </ion-item>
    </div>
    <div class="account-fields" *ngIf="service && serviceType==2">
      <ion-item>
        <ion-list>
          <ion-row>
            <ion-col col-8>
              <ion-item>
                <ion-input [(ngModel)]="account.number" type="number" placeholder="Número do Benefício"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-input [(ngModel)]='account.digit' type="number" placeholder="Digito do Benefício"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-list>
      </ion-item>
    </div>
  </div>
  <div class="footer">
    <ion-item>
      <ion-list>
        <ion-row>
          <ion-col col-3></ion-col>
          <ion-col col-6>
            <ion-row>
              <ion-col col-5>
                <button [disabled]="!account.number && !account.account && !account.digit"
                  [ngClass]="{'disabled': !account.number && !account.account && !account.digit}" class="next-button"
                  ion-button color="danger" (click)="goNext()">Avançar</button>
              </ion-col>
              <ion-col col-2></ion-col>
              <ion-col col-5>
                <button class="next-button" ion-button color="danger" (click)="goNext()">Pular</button>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col col-3></ion-col>
        </ion-row>
      </ion-list>
    </ion-item>
  </div>
</ion-content>