page-credit-card-modal {
  .content-md {
    background-color: #ffffff;
  }

  ion-icon {
    margin-right: 20px;
  }

  ion-item{
    background: transparent;
    img{
      &.cardimg{
        width: 100%;
      }
    }
  }
  .fixed-content, .scroll-content{
    height: 100%;
  }
}
