page-client-elegivel {
.button-inner{
        font-size: 40px;
        text-transform: lowercase;
        text-transform: capitalize;
    }

    h3{
        color: #7ed321;
        font-size: 40px;
        margin-bottom: 30%;
    }

    ion-icon{
        margin-top: 40%;
        color: #7ed321;
        font-size: 20rem;
    }

    p{
        font-size: 40px;
        margin-bottom: 10%;
    }
}
