page-capture-comp-end {
  #menu {
    border: 1px solid #4a4a4a;
    border-radius: 25px;
    padding: 20px 50px;
  }

  .button-inner {
    font-size: 40px;
    text-transform: lowercase;
    text-transform: capitalize;
  }


  .foto-titulo{

    font-size: 49px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1.3px;
    text-align: center;
    color: #4a4a4a;

  }

  .foto-sub-titulo {

    font-size: 41px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1.1px;
    text-align: center;
    color: #58595b;
  }

}


