page-formulario-from-additionally-doc {

    ion-select {
       min-width: 100%;
    }

    ion-col {
        h3 {
            margin-left: 20%;
        }
    }

    .footer {
        position: relative!important;
    }
}
